{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/admin_slot.css' %}">
</head>
<body>
    {% include 'includes/header.html' %}
    <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <input type="date" name="date" placeholder="date">
    <input type="time" name="start_time" placeholder="start time">
    <input type="time" name="end_time" placeholder="end time">
    <button>Create slot!</button>
</form> 
</body>
</html>