{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet"  href="{% static 'includes/header.css' %}">
</head>
<body>
    <div class="header-out">
            <span class="header-in-left">
               <!-- <img src="{% static 'includes/logo.webp' %}"> -->
            </span>
            <span class="header-in-mid">
                <h1>Meeting Scheduler</h1>
            </span>
            <span class="header-in-right">
                {% if user.is_authenticated %} 
                    <span>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button class="head-button">Logout</button>
                        </form>
                        <form action="{% url 'set-user-admin' %}" method="POST">
                            {% csrf_token %}
                            <button class="head-button">Make Admin</button>
                        </form>
                        <form action="{% url 'set-user-public' %}" method="POST">
                            {% csrf_token %}
                            <button class="head-button">Make Public</button>
                        </form>
                    </span>
                {% endif %}
            </span>
    </div>
</body>
</html>