{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet"  href="{% static 'includes/header.css' %}">
</head>
<body>
    <div class="header-out">
            <span class="header-in-left">
               <img src="{% static 'home/app_logo.jpeg' %}" width="80px" height="80px" style="border-radius: 50%; margin-right:3rem; margin-left: 13rem;">
               <h1 style="color: #fff;">Meetox</h1>
            </span>
            <span class="header-in-right">
                {% if user.is_authenticated %} 
                    <span class="span-inner">
                        <form class="form-inner" action="{% url 'set-user-admin' %}" method="POST">
                            {% csrf_token %}
                            <button class="head-button">Sign Up as Admin</button>
                        </form>
                        <form class="form-inner" action="{% url 'set-user-public' %}" method="POST">
                            {% csrf_token %}
                            <button class="head-button">Public User</button>
                        </form>
                        <form class="form-inner" action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button class="head-button">Logout</button>
                        </form>
                    </span>
                {% endif %}
            </span>
    </div>
</body>
</html>